@use "../abstracts/" as *;

.contactPage {
	display: grid;
	place-content: center;
	height: 100vh;
	width: 100vw;

	.contactList {
		width: fit-content;
		height: fit-content;
		display: flex;
		gap: 5rem;

		li {
			transform: scale(0.8);
			transition: transform 0.4s;

			&:hover {
				transform: scale(1.1);
			}

			a {
				text-decoration: none;
				color: $clr-primary;
				font-size: 2rem;
				font-weight: 600;
			}
		}
	}
}
